@import './assets/scss/colors';
@import './assets/scss/responsive_media';

.welcome-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

    .welcome-title {
      color: $green-website-color;
    }

    .welcome-subtitle {
      color: $black-website-color;
    }

    @media screen and (max-width: $mobile-size) {
      .welcome-title {
        font-size: 26px;
      }
    }
}