@import './assets/colors';

body {
  background-color: $main-color;
}

.navigation-bar {
  background-color: $main-color;
  border-bottom: 1px solid $second-color;
  
  .navbar-brand {
    color: #fff;
  }

  .navbar-collapse {

    .navbar-nav {
      text-align: center;

      .nav-item {

        .nav-link {
          color: $white-website-color;
  
          &:hover {
            color: $black-website-color;
          }
        }
      }
    }
  }
}

.welcome-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

    .welcome-title {
      color: $gray-website-color;
    }

    .welcome-subtitle {
      color: $black-website-color;
    }

    .btn.btn-light {
      background-color: $second-color;
      color: $white-website-color;
      border-color: $second-color;

      &:hover {
        background-color: $white-website-color;
        color: $black-website-color;
        border-color: $main-color;
      }
    }
}

