@import './assets/scss/colors';
@import './assets/scss/responsive_media';

body {
  background-color: $main-color;

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  .btn.btn-light {
    background-color: $second-color;
    color: $white-website-color;
    border-color: $second-color;

    &:hover {
      background-color: $white-website-color;
      color: $black-website-color;
      border-color: $main-color;
    }
  }

  .clearfix {
    clear: both;
  }

  .navigation-bar {
    background-color: $main-color;
    border-bottom: 1px solid $second-color;
    
    .navbar-brand {
      color: #fff;
    }

    .navbar-collapse {

      .navbar-nav {
        text-align: center;

        .nav-item {

          .nav-link {
            color: $white-website-color;
    
            &:hover {
              color: $black-website-color;
            }
          }
        }
      }
    }
  }

  // WELCOME PAGE START
  .welcome-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

      .welcome-title {
        color: $gray-website-color;
      }

      .welcome-subtitle {
        color: $black-website-color;
      }
  }
  // WELCOME PAGE END

  // STAFF PAGE START
  .staff-login-page {
    

    .staff-login-page-title {
      margin-top: 30px;
      text-align: center;
    }

    .staff-login-page-subtitle {
      text-align: center;
    }

    .staff-login-form {
      padding-top: 50px;
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
    }
  }
  // STAFF PAGE END

  .checkin-page {
    
    .checkin-page-title {
      text-align: center;
      margin: 30px 0;
    }

    form {
      padding: 30px 0;
    }

    @media screen and (max-width: $mobile-size) {
      form {
        padding-top: 0;
      }
    }
  }

  // MANAGE GUESTS PAGE START
  .manage-guests-page {
    position: relative;
    height: 100vh;

    .datepicker-title {
      margin-bottom: 0;
      padding-left: 20px;
    }

    .react-datepicker-wrapper {
      width: 100%;
      margin-bottom: 20px;
      padding-left: 20px;
    }

    .manage-guests-title {
      text-align: center;
      margin: 30px 0;
    }

    .btn.btn-light {
      display: block;
      margin: auto;
      margin-top: 20px;
    }

    .spinner-border {
      border-width: 8px;
      position: absolute;
      top: 35%;
      left: 45%;
    }

    .text-light {
      width: 100px;
      height: 100px;
    }

    .card-wrapper {

      .card {
        width: calc(50% - 40px);
        margin: 20px;
        float: left;

        .btn.btn-danger {
          position: absolute;
          top: 2px;
          right: 2px;
        }

        .card-text {
          font-size: 13px;
          color: gray;

          span {
            display: block;
            font-size: 15px;
            font-weight: 500;
            color: $black-website-color
          }
        }
      }

      @media screen and (max-width: $mobile-size) {
      
        .card {
          width: 100%;
          float: none;
          margin: 0;
          margin-bottom: 20px;
        }
      }
    }

    @media screen and (max-width: $mobile-size) {
      
      .datepicker-title {
        padding-left: 0;
      }
      .react-datepicker-wrapper {
        padding-left: 0;
      }
    }
  }
  // MANAGE GUESTS PAGE END
}
