@import './components/NavBar/NavBar.scss';
@import './components/StaffLogin/StaffLogin.scss';
@import './components/ManageGuests/ManageGuests.scss';
@import './pages/Welcome/Welcome.scss';
@import './pages/CheckIn/Checkin.scss';
@import './assets/scss/colors';
@import './assets/scss/responsive_media';

body {
  background-color: $main-color;

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  .btn.btn-light {
    background-color: $second-color;
    color: $white-website-color;
    border-color: $second-color;

    &:hover {
      background-color: $white-website-color;
      color: $black-website-color;
      border-color: $main-color;
    }
  }

  .clearfix {
    clear: both;
  }
}
